<body>
  <div class="wrapper">
    <h1>Welcome to Gradu8</h1>
    <button
      type="button"
      (click)="direct()"
      class="btn btn-info btn-primary btn-lg btn"
    >
      Schedule
    </button>
  </div>
</body>

<!-- 
<div className={styles.landingWrapper}>
    <div className={styles.middleBox}>
      <h1 className={styles.gradText}>relocatr</h1>
      <p>we find you that perfect next move</p>
      <br />
      <button className={styles.findBtn} data-tip="give us some preferences and we'll find the perfect city for you">
        <Link to="/find" className={styles.link}>
          <strong>Don't know where to live?</strong>
        </Link>
      </button>
    </div>
    <footer>made with &#10084; by comp 410</footer>
    <ReactTooltip place="right" />
  </div> -->
