<body>
  <div class="example-container">
    <h2><i class="fas fa-laptop"></i>Classes Options</h2>
    <div
      cdkDropList
      id="classbox"
      #classesNg="cdkDropList"
      [cdkDropListData]="option_courses"
      [cdkDropListConnectedTo]="[
        semester0Ng,
        semester1Ng,
        semester2Ng,
        semester3Ng,
        semester4Ng,
        semester5Ng,
        semester6Ng,
        semester7Ng
      ]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of option_courses"
        [cdkDragData]="item"
        cdkDrag
      >
        {{ item.name }}
      </div>
    </div>
  </div>
  
  <div class="year">
    <div class="example-container2">
      <h2>Freshmen Fall</h2>

      <div
        cdkDropList
        #semester0Ng="cdkDropList"
        [cdkDropListData]="taken_courses[0]"
        [cdkDropListConnectedTo]="[classesNg]"
        id="sem0"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box color1"
          *ngFor="let item of taken_courses[0]"
          [cdkDragData]="item"
          cdkDrag
        >
          {{ item.name }}
        </div>
      </div>
    </div>

    <div class="example-container2">
      <h2>Freshmemn Spring</h2>

      <div
        cdkDropList
        #semester1Ng="cdkDropList"
        [cdkDropListData]="taken_courses[1]"
        id="sem1"
        [cdkDropListConnectedTo]="[classesNg]"
        class="example-list"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box color2"
          [cdkDragData]="item"
          *ngFor="let item of taken_courses[1]"
          cdkDrag
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="example-container2">
      <h2>Sophomore Fall</h2>

      <div
        cdkDropList
        #semester2Ng="cdkDropList"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        [cdkDropListData]="taken_courses[2]"
        [cdkDropListConnectedTo]="[classesNg]"
        class="example-list"
        id="sem2"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box color3"
          [cdkDragData]="item"
          *ngFor="let item of taken_courses[2]"
          cdkDrag
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="example-container2">
      <h2>Sophomore Spring</h2>

      <div
        cdkDropList
        #semester3Ng="cdkDropList"
        [cdkDropListData]="taken_courses[3]"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        [cdkDropListConnectedTo]="[classesNg]"
        class="example-list"
        id="sem3"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box color4"
          [cdkDragData]="item"
          *ngFor="let item of taken_courses[3]"
          cdkDrag
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="example-container2">
      <h2>Junior Fall</h2>

      <div
        cdkDropList
        #semester4Ng="cdkDropList"
        [cdkDropListData]="taken_courses[4]"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        [cdkDropListConnectedTo]="[classesNg]"
        class="example-list"
        id="sem4"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box color5"
          [cdkDragData]="item"
          *ngFor="let item of taken_courses[4]"
          cdkDrag
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="example-container2">
      <h2>Junior Spring</h2>

      <div
        cdkDropList
        #semester5Ng="cdkDropList"
        [cdkDropListData]="taken_courses[5]"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        [cdkDropListConnectedTo]="[classesNg]"
        class="example-list"
        id="sem5"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box color6"
          [cdkDragData]="item"
          *ngFor="let item of taken_courses[5]"
          cdkDrag
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="example-container2">
      <h2>Senior Fall</h2>

      <div
        cdkDropList
        #semester6Ng="cdkDropList"
        [cdkDropListData]="taken_courses[6]"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        [cdkDropListConnectedTo]="[classesNg]"
        class="example-list"
        id="sem6"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box color7"
          [cdkDragData]="item"
          *ngFor="let item of taken_courses[6]"
          cdkDrag
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="example-container2">
      <h2>Senior Spring</h2>
      
      <div
        cdkDropList
        #semester7Ng="cdkDropList"
        [cdkDropListData]="taken_courses[7]"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        [cdkDropListConnectedTo]="[classesNg]"
        class="example-list"
        id="sem7"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box color8"
          [cdkDragData]="item"
          *ngFor="let item of taken_courses[7]"
          cdkDrag
        >
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
</body>
